<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello Facebook</title>
</head>
<body style="text-align:center">
<h3>Hello, <span th:text="${facebookProfile.name}">Some User</span>!</h3>

<h4>Here is your feed:</h4>

<div th:each="post:${feeds}">

    <p th:text="${post.message}">message text</p>

    <p th:text="${post.story}"></p>

    <img th:if="${post.picture}" th:src="${post.picture}"> </img>
</div>

<form action="/api/facebook/posts/create" method="get">
    <button type="submit">Create a new post</button>
    <input type="hidden" name="_method" value="save"/>
</form>

<form action="/api/facebook/posts" method="get">
    <button type="submit">Show all post</button>
    <input type="hidden" name="_method" value="getAll"/>
</form>

<form action="/api/facebook/connect/facebook" method="post">
    <button type="submit">Disconnect</button>
    <input type="hidden" name="_method" value="delete"/>
</form>

</body>
</html>