<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <meta charset="utf-8"> </meta>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> </link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="text-align:center">
<h1>All posts</h1>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th style="text-align: center">Post</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>

        <tbody>

            <tr th:each="post:${posts}">
                <td th:text="${post.id}"></td>
                <td th:text="${post.story}"></td>
                <td>
                    <form th:action ="@{'/posts/' + ${post.id}}"  th:method="get">
                        <button class="glyphicon glyphicon-edit" style="color:dodgerblue"> </button>
                        <input type="hidden" name="_method" value="edit"/>
                    </form>
                </td>
                <td>
                    <form th:action ="@{'/posts/' + ${post.id}}"  th:method="delete">
                        <button class="glyphicon glyphicon-remove glyphicon-red" style="color:red"> </button>
                        <input type="hidden" name="_method" value="delete"/>
                    </form>
                </td>
            </tr>

        </tbody>
    </table>
</div>

<br/>
<form th:align="center" action="/connect/facebook" method="post">
    <button type="submit">Disconnect</button>
    <input type="hidden" name="_method" value="delete"/>
</form>

</body>
</html>
