<html>
<head>
    <title>Hello Facebook</title>
</head>
<body>
<h3 style="text-align:center">Connected to Facebook</h3>
<p style="text-align:center">
    <img id="banner"
         src="http://3.bp.blogspot.com/-5wSpAvKs2Jo/UYAMmwcZJ2I/AAAAAAAAAF4/YWwlB_T5sug/s1600/social-marketing-twitter-vs-facebook+my+hit+tricks.jpeg"> </img>
</p>

<p  style="text-align:center">
    Click <a href="/login">here</a> to see some entries from your Facebook feed.
</p>
</body>
</html>


<style>
    #banner {
        min-height: 400px;
    }
</style>


